@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;0,900;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --themeColor: crimson;
    --bodyColor: #eee;
    --primaryColor: #fff;
    --textColor: #000;
}
.darkMode{
    --themeColor: #61DAFB;
    --bodyColor: #333;
    --primaryColor: #000;
    --textColor: #ddd;
}
body{
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    background-color: crimson;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px 12px;
    cursor: pointer;
}
header{
    background-color: #fff;
    padding: 0px 96px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.1);
}
header .logo{
    width: 30%;
}
header .logo a{
    text-decoration: none;
    font-size: 32px;
    color: #000;
}
header ul{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

header ul li a{
    color: #000;
    display: block;
    padding: 20px;
    text-align: center;
    transition: all 0.3s; 
    font-size: 16px;
}
header ul li a.active{
    background-color: crimson;
    color: #fff;
}
header ul li a:hover{
    background-color: crimson;
    color: #fff;
}
.container{
    background-color: #fff;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.07);
}
.page-title{
    text-align: center;
    margin: 10px 0px;
    font-family: 'Raleway', sans-serif;
}

.main-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
aside{
    width: 20%;
}
.widgets{
    background-color: #eee;
    /* padding: 15px 10px; */
    margin: 5px 0px;
}
.widgets .widget-title{
    text-align: center;
    background-color: crimson;
    color: #fff;
    padding: 10px 5px;
}
.widgets ul li a{
    /* margin: 5px 0px; */
    padding: 12px 5px;
    display: block;
    color: #000;
}
.widgets ul li a:hover{
    background-color: #aaa;
    color: #000;
}
.content {
    width: 78%;
}
article{
    background-color: #eee;
    margin: 5px 0px;
}
article .post-title{
    margin: 10px 10px; 
    display: inline-block;
}
p{
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0px;
    text-align: justify;
   
    font-size: 18px;
    /* font-family: 'Noto Sans Mono', monospace; */
    font-family: 'Raleway', sans-serif;
}